loglevel=error
registry=https://registry.npmjs.org

strictStorePkgContentCheck=true
verifyStoreIntegrity=true

# 网络优化
network-concurrency=16
fetch-retries=3
fetch-timeout=60000

# 严格使用 peer dependencies
strict-peer-dependencies=true
engine-strict=true
save-exact=true

# 自动生成 lockfile
auto-install-peers=false

# lockfile 配置
lockfile=true
prefer-frozen-lockfile=true
